@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


:root {
  --primary: #fcf5e7;
  --secondary: #cfa29d;
  --dark: #f07c68;
  --light: #fff;
  --brown: #f0c6b7;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: var(--primary);
}
header {
  background-color: var(--primary);
  position: fixed; 
  width: 100vw;
  z-index: 1000;
}
.navigation-wrapper {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}
.navbar-preheader .navigation-wrapper {
  height: 30px;
}
.navbar-preheader {
  position: relative;
  background-color: var(--dark);
  border-bottom: 5px solid var(--brown);
  color: var(--primary);
  font-family: 'BluuNextBold', serif;   
  font-weight: 100;
  letter-spacing: 3px;
}
.navbar-preheader h6 {
  color: var(--light);
  font-size: 10px;
  top: 50%;
  margin: auto;
  display: block;
  position: relative;
  transform: translate3d(0,-50%,0);
  text-align: center;
  font-family: 'BluuNextBold', serif;    
}
.navbar-main-header {
  background-color: var(--primary);
  margin-top: 0.5rem;
  text-align: center;
  right: 10px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 15px;
  position: relative;
}
.navbar-mainheader img {
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%);
  height: 70px;
  object-fit: cover;
}
.navigation-menu {
  text-align: center;
  margin: 5px 0 0;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.navigation-menu .navigation-wrapper {
  max-width: 648px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}
.navigation-menu .navigation-wrapper .icon-divider {
  margin-top: -10px;
  position: absolute;
  top: 50%;
  right: 100%;
  width: 240px;
}
.icon-divider {
  width: 35%;
  height: 20px;
  background-image: url(./assets/divider.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.navigation-menu .navigation-wrapper nav {
  margin: 0;
  padding: 0;
  font-weight: 600;
  list-style: none;
  display: flex;
  font-family: 'BluuNextBold', serif;   
}
.navigation-menu .navigation-wrapper li {
  width: 50%;
  padding-top: 4px;
  position: relative;
}
.navigation-menu .navigation-wrapper nav a {
  color: var(--dark);
  text-decoration: none;
  position: relative;
  font-family: 'BluuNextBold', serif;
  font-size: 20px;
  transition: 0.3s ease-in;
}
.navigation-menu .navigation-wrapper nav a:hover {
  background-color: var(--dark);
  color: var(--light);
  padding: 5px;
  border-radius: 5px;
}
.navigation-menu .navigation-wrapper li+li:before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(./assets/dot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}
.navigation-menu .navigation-wrapper .icon-divider.invert {
  margin-top: -10px;
  position: absolute;
  top: 50%;
  left: 100%;
  width: 240px;   
}
.home-banner {
  background-image: url(./assets/home-banner.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.home-banner .navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1320px;
  height: 600px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
  top: 25%;
}
.home-banner h1 {
  position: relative;
  color: var(--dark);
  font-size: 40px;
  text-align: left;
  font-family: 'BluuNextBold', serif;
  letter-spacing: 5px;
  padding: 0 20px;
  top: 30%;
  margin: 0%;
}
.home-banner h4 {
  position: relative;
  color: var(--dark);
  font-size: 20px;
  top: 30%;
  text-align: left;
  font-family: 'BluuNextBold', serif;
  letter-spacing: 1px;
  margin-bottom: 5px;
  padding: 0 20px;
}
.home-banner p {
  position: relative;
  color: var(--dark);
  font-size: 20px;
  top: 30%;
  text-align: left;
  font-family: 'Crimson Text', serif;
  letter-spacing: 10px;
  padding: 0 20px;
}
/* .home-banner .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
} */
.home-banner .navigation-wrapper img {
  width: 700px;
  height: 400px;
  top: 10%;
  position: relative;
}
.home-banner img {
  position: absolute;
  top: 85%;
  height: 200px;
  width: 100vw;
  overflow: visible;
}
.home-banner-text .button{
  padding: 0 20px;
  
}
.home-banner-text .button .danger {
  background-color: var(--dark);
  border-color: var(--dark);
  color: var(--light);
  font-size: 20px;
  font-family: 'Crimson Text', serif;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
}
.button .danger:hover {
  background-color: var(--light);
  border-color: var(--dark);
  color: var(--dark);
  
}
.about .navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
  top: 25%;
}
.about .divider {
  top: 88%;
  position: absolute;
  height: 200px;
  width: 100vw;
  overflow: visible;
}
.about h1 {
  font-family: 'BluuNextBold', serif;
  margin-top: 100px;
  color: var(--dark);
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.about h3 {
  font-family: 'BluuNextBold', serif;
  color: var(--dark);
  font-size: 20px;
  text-align: center;
}
.about p {
  font-family: 'Crimson Text', serif;
  color: var(--dark);
  font-size: 15px;
  text-indent: 20px;
  text-align: justify;
}
.about img {
  width: 400px;
  border-radius: 30px;
  margin: 10px 0; 
}
.about .divider-line {
  margin-top: -10px;
  margin-bottom: 10px;
  position: absolute;
  left:42%;
  width: 300px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.project .navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
  top: 25%;
}
.project .divider {
  top: 178%;
  position: absolute;
  height: 200px;
  width: 100vw;
  overflow: visible;
}
.project h1 {
  font-family: 'BluuNextBold', serif;
  margin-top: 130px;
  color: var(--dark);
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.project .divider-line {
  margin-top: -10px;
  position: absolute;
  left:42%;
  width: 300px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.item {
  border-radius: 15px;
  width:300px;
  background-color: transparent;
  overflow: hidden;
  transition: 0.5s;
  margin:10px;
  scroll-snap-align: start;
}
#list{
  display: flex;
  width: max-content;
  padding: 0, 0, 10px, 0;
}
#formList{
  width:1265px;
  max-width: 100%;
  overflow: auto;
  margin:50px auto 50px;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
#formList::-webkit-scrollbar{
  display: none;    
}
.product_carousel {
  width: 100%;
  margin: 30px 0;
  display: block;
  position: relative;
}
.card {
  height: 530px;
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: pointer;
  margin: 2px;
}
.card .btn {
  background-color: var(--dark);
  border-color: transparent;
  color: var(--light);
  letter-spacing: 2px;
  font-size: 17px;
}
.card .btn:hover {
   background-color: var(--light);
   color: var(--dark);
}
.card-header {
  border: solid 0.5px var(--dark);
  font-family: 'Crimson Text', serif;
  color: var(--dark);
  font-weight: bold;
  background-color: transparent !important;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}
.card-body {
  font-family: 'Crimson Text', serif;
  color: var(--dark);
  font-weight: 400;
  padding: 10px 0 !important;
}
.card-body h5 {
  font-family: 'Crimson Text', serif;
  color: var(--dark);
  font-size: 15px;
  padding: 10px;
  text-align: center;
}
.card-footer {
  border: solid 0.5px var(--dark);
  font-family: 'Crimson Text', serif;
  border-radius: 5px !important;
  background-color: transparent !important;
  text-align: center;
}
.direction .prev {
  width: 40px;
  height: 40px;
  z-index: 5;
  background-color: #fcf5e7;
  border: 1px solid #a85;
  transition: opacity .5s;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg)translate(-50%,-50%);
  transform: rotate(45deg)translate(-50%,-50%);
}
.direction .prev i {
  -webkit-transform: translate3d(-50%,-50%,0)rotate(-46deg)scaleX(-1) !important;
  transform: translate3d(-50%,-50%,0)rotate(-46deg)scaleX(-1) !important;
}
.direction .prev:hover {
  border: 1px solid #4a2b10;
  transition: 0.5s ease-out;
}
.direction .next {
  width: 40px;
  height: 40px;
  z-index: 5;
  background-color: #fcf5e7;
  border: 1px solid #a85;
  transition: opacity .5s;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg)translate(-50%,-50%);
  transform: rotate(45deg)translate(-50%,-50%);
}
.direction .next:hover {
  border: 1px solid #4a2b10;
  transition: 0.5s ease-out;
}
.direction .prev {
  left: 280px;
}
.direction .next {
  right: 280px;
}
.direction .arrow i {
  webkit-transform-origin: center;
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0)rotate(-46deg);
  transform: translate3d(-50%,-50%,0)rotate(-46deg);
}
.icon--chevron {
  width: 12px;
  height: 21px;
  background-color: #fcf5e7;
  -webkit-mask-image: url(Assets/arrow-head.svg);
  mask-image: url(Assets/arrow-head.svg);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #4a2b10;
}
.modal-header {
  background-color: #fcf5e7;
  color: #4a2b10;
  border-bottom: 0.5px solid #a85 !important;
  padding: 0 50px;
  display: flex;
  padding-left: 20% !important;  
}
.modal-title {
  font-family: 'BluuNextBold', serif;
  justify-content: center;
  flex-direction: column; 
  display: flex;
  align-items: center;
  color: #4a2b10;
}
.modal-body {
  background-color: #fcf5e7; 
}
.modal-body p {
  padding: 0 30px;
  font-size: 18px;
  text-align: justify;
  color: #4a2b10;
  font-family: 'Crimson Text', serif;
  text-indent: 30px;
}
.modal-footer {
  background-color: #fcf5e7 !important;
  border-top: 0.5px solid #a85 !important;
  justify-content: center !important;
}
.modal-footer .btn {
  background-color: #a85;
  border-color: transparent!important;
  color: #fcf5e7;
  letter-spacing: 2px;
  font-size: 17px !important;
  font-family: 'Crimson Text', serif;
  
}
.modal-footer .btn:hover {
   background-color: #4a2b10;
}
.modal-header .btn {
  background-color: transparent !important;
  border: none;
}
.btn .close {
  background-image: url(Assets/icon_close.svg);
  width: 55px;
  height: 55px;
  transition: all .5s ease-in-out;
}
.contact .navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
  top: 25%;
}
.contact .divider {
  top: 280%;
  position: absolute;
  height: 200px;
  width: 100vw;
  overflow: visible;
}
.contact h1 {
  font-family: 'BluuNextBold', serif;
  margin-top: 340px;
  color: var(--dark);
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.contact .divider-line {
  margin-top: -10px;
  margin-bottom: 10px;
  position: absolute;
  left:42%;
  width: 300px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.contact .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.contact-text {
  padding: 20px 0;
  background-color: var(--light);
  text-align: center;
  font-family: 'Crimson Text', serif;
}
.contact-text h1 {
  color: var(--dark);
  font-size: 50px;
  font-family: 'Crimson Text', serif;
  letter-spacing: 5px;
  text-align: center;
}
.contact-wrapper {
  width: 450px;
  background-color: var(--dark);
  border-radius: 15px;
}
.title {
  border-bottom: 1px solid var(--light);
}
.contact-wrapper h6 {
  font-size: 22px;
  font-weight: 600;
  font-family: 'Crimson Text', serif;
  color: var(--light);
  padding: 20px 30px;
}
.contact-wrapper form {
  margin: 35px 30px;
}
form .dbl-field {
  display: flex;
  flex-direction: column;
}
.dbl-field .field {
  position: relative;
  height: 40px;
  margin-bottom: 15px;
}
form .field input,
form .message textarea {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  border: 1px solid var(--brown);
  border-radius: 5px;
  font-family: 'Crimson Text', serif;
  font-size: 17px;
}
form .field input::placeholder,
form .message textarea::placeholder {
  color: var(--dark);
}
form .field input:focus,
form .message textarea:focus {
  border: 3px solid var(--brown);
}
.contact-wrapper form i {
  position: absolute;
  color: var(--dark);
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
  pointer-events: none;
}
form .message {
  position: relative;
  font-family: 'Crimson Text', serif;
}
form .message i {
  top: 20px;
  color: var(--dark);
  font-size: 22px;
}
form .message textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 300px;
  padding: 15px 20px 0 48px;
}
form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
}
.button-area button {
  padding: 5px 15px;
  font-size: 17px;
  border: none;
  background-color: var(--light);
  border-radius: 10px;
  color: var(--dark);
  cursor: pointer;
}
.button-area button:hover {
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--light);
}
footer {
  position: relative;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
}

.footer-distributed {
  background-color: var(--dark);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: 'Crimson Text', serif;
  font-size: 17px;
  font-weight: bold;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}
.footer-distributed img {
  width: 70px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

/* Footer links */

.footer-distributed .footer-links {
  color: var(--light);
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: var(--light);
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: var(--brown);
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: var(--light);
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 17px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: var(--light);
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: var(--light);
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: var(--light);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: var(--brown);
  border-radius: 4px;
  font-size: 20px;
  color: var(--light);
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: var(--dark);
}

.footer-links a:hover {
  text-decoration: underline;
  
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}       
      

